/* General Header Styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Site Name Styling */
  .site-name h1 {
    font-size: 2rem;
    color: #882e2e;
    
    margin: 0;
    font-weight: bold;
  }
  
  /* Search Bar and Category Container */
  .search-category-container {
    display: flex;
    align-items: center;
    gap: 1rem; 
    flex-grow: 1;
    max-width: 600px;
  }
  
  /* Search Bar Styling */
  .search-bar {
    position: relative;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  
  
  /* Suggestions Dropdown */
  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .suggestions li {
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  
  /* Dropdown Styling */
  .category-dropdown select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  /* Add this to FilterAndSearch.css */
.sort-dropdown {
  margin-left: 20px;
}

.sort-dropdown select {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.sort-dropdown select:focus {
  border-color: #00796b;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.search-bar input {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-icon {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.search-icon:hover {
  background-color: #0056b3;
}
.cart-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px; /* Cart icon size */
  position: relative;
}

.cart-icon .cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red; /* Background color for the count */
  color: white; /* Text color */
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 16px; /* Adjust font size of the number */
  font-weight: bold;
}



  